<%-include("header")-%>
 <h2>This is a simple To Do List that I created as a part of my personal projects</h2>
 <p>dfasjdfkjhasdkfdhkas kjhkjhkj kjj k kljhdsf kjh kjh kjh kjkjhkjh kjh</p>
<%-include("footer")-%>